.search{
    display: flex;
    justify-content: center;
}

.search-wrapper{
    display: flex;
    align-items: center;
}

.search-input{
    position: relative;
    display: flex;
    align-items: center;
    display: none;
}

.cross-icon{
    position: absolute;
    top: 1;
    right: 0;
    margin-right: 10px;
}

.search-icon{
    padding: 0 20px;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 60px;
}

.input-search{
    padding: 5px 8px;
}


@media all and (max-width: 425px){
    .css-i4bv87-MuiSvgIcon-root{
        font-size: 25px;
    }
}
