.search-wrapper-test{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 50px;
    width: 100%;
}
.search-test{
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
}

.search-input-test{
    display: none;
}

.search-input-test-active{
    display: block;
    margin-right: 10px;
    width: 100%;
    

}

.input-search-test{
    padding: 5px 5px;
    width: 100%;
    transition: all 4s;

}
.cross-icon-test{
    position: absolute;
    top: 6px;
    right: 13px;
}

.icon{
    order: 2;
}
