.search{
    display: flex;
    justify-content: center;
}

.search-wrapper{
    display: flex;
    align-items: center;
}

.search-input{
    position: relative;
    display: flex;
    align-items: center;
    display: none;
}

.search-input-active{
    display: block;
    position: absolute;
    top: 30px;
    right: 550px;
    z-index: 10;
    
}

.search-input-active::after{
   transition: all 4s;
}

.cross-icon{
    position: absolute;
    top: 7px;
    right: 5px;
    margin-right: 10px;
}

.search-icon{
    padding: 0 20px;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 60px;
    cursor: pointer;
}

.input-search{
    padding: 6px 8px;
}

.input-search::after, :hover, :focus {
    outline: 0;
    outline-offset: 0;
    /* opacity: 0.2; */
}

@media all and (max-width: 900px){
    .search-input-active{
        top: 29px;
        right: 20px;
    }
    .input-search{
        width: 600px;
    }
}


@media all and (max-width: 425px){  
    .search-input-active{
        top: 16px;
        right: 7px;
    }

    .search-wrapper{
        margin: 0;
    }

    .input-search{
        width: 220px;
    }
}

@media all and (max-width: 320px){
    .search-input-active{
        top: 13px;
    }

}