.navbar-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1300px;
    margin: auto;
    height: 100px;
}

.logo{
    /* flex-shrink: 1; */
    padding-bottom: 5px;
    order: 1;
}

.nav-links{
    display: flex;
    justify-content: flex-start;
    flex-grow: 1;
    list-style: none;
    padding: 0 0 0 20px;
    margin: 0;
    order: 2;
}


.nav-links li a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: 500;
    padding: 0 20px;
}


.icons{
    display: flex;
    justify-content: center;
    order: 4;
}

.icons a{
    display: flex;
    align-items: center;
    font-size: 30px;
    color: black;
    padding: 0 20px;
}

.icons a:last-child{
    padding: 0 0 0 20px;
}


.mobile-menu-icon{
    border: none;
    background: none;
    font-size: 20px;
    display: none;
}




/* .links-dropdown{
    display: none;
    position: absolute;
    width: 250px;
    background-color: white;
    top: 70px;
    display: flex;
    flex-direction: column;
    z-index: 7;
    padding: 5px 5px;
    box-shadow:  0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    margin-left: 18px ;
    margin-top: 15px;
} */

.links-dropdown a{
    padding: 10px 0;
}


/*************** поисковик ****************/


.search{
    display: flex;
    justify-content: center;
    position: relative;
    order: 3;

}


.search-input{
    display: none;
}

.search-input-active{
    display: block; 
    position: relative;
    width: 100%;
    animation-name: search-animation;
    animation-duration: 1s;
    
    
}

.cross-icon{
    position: absolute;
    top: 7px;
    right: 5px;
    margin-right: 10px;
}

.search-icon{
    padding: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    cursor: pointer;
    order: 4;
}

.input-search{
    padding: 6px 8px;
    width: 300px;
    
}

.input-search::after, :hover, :focus {
    outline: 0;
    outline-offset: 0;
    /* opacity: 0.2; */
}

@keyframes search-animation{
    0%{
        width: 0%;
    }
    100%{
        width: 100%;
    }
}

.data-result{
    position: absolute;
    margin-top: 5px;
    width: 300px;
    height: 200px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    overflow: hidden;
    overflow-y: auto;
}

/* .data-result::-webkit-scrollbar{
    display: none;
} */

.data-result .dataItem{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    color: black;
}

.dataItem p {
    margin: 0 5px 0px 10px;
}


/* Адаптация */

@media (max-width: 1024px){
    .navbar-wrapper{
        max-width: 950px;
        margin: auto;
    }
    .nav-links li a{
       padding: 0 5px;
    }
}


@media all and (max-width: 900px) {

    .nav-links{
        display: flex;
        justify-content: flex-start;
        flex-grow: 1;
        list-style: none;
        padding: 0 0 0 20px;
        margin: 0;
        order: 2;
    }
    .nav-links-mobile li{
        display: none;
    }

 

    html.noscroll {
        overflow: hidden;
    }

    body.noscroll {
        overflow: visible;
        height: 100%;
    }   

    .navbar-wrapper{
        padding: 0 20px;
    }
    
    .nav-links{
        position: absolute;
        display: block;
        box-shadow: rgba(50, 50, 93, 0.23) 0 30px 30px -20px;
        left: 0;
        top: 10%;
        width: 100%;
        background-color: white;
        transition: all 1s ease-in-out;
        z-index: 5;
        padding: 40px 20px 0 20px;
        height: 100%;
        transform: translateX(-100%);
        transition: all .45s;
    }

    .nav-links.open{
        transform: translateX(0);
    }


    .nav-links li a::before{
        background: transparent;
    }    

    .nav-links li a:hover{
        opacity: 0.5;
    }  

    .nav-links li a{
        display: flex;
        flex-direction: column;
        text-decoration: none;
        color: black;
        font-size: 24px;
        font-weight: 500;
        padding: 14px 0px;
    }    


    .mobile-menu-icon{
        display: block;
        position: absolute;
        top: 33px;
        left: 20px;
    }

    .logo{
        /* flex-shrink: 1; */
        padding-bottom: 5px;
        display: flex;
        justify-content: center;
        order: 2; 
    }
    

    .search{
        position: absolute;
        right: 22px;
        z-index: 11;
        display: flex;
        justify-content: flex-end;
        width: 84%;
        /* order: 10; */
        /* margin-left: 25px; */
    }
    .search-icon{
        margin: 0 0 0 20px;
        order: 1;
    }
    .search-input-active{
        width: 100%;
        animation-name: search-animation;
        animation-duration: 0.5s;
        
    }

    .input-search{
        width: 100%;
        margin: 0 20px 0 0px;
        
    }

    .icons{
        order: 3;
    }

    .icons a{
        padding: 0 10px;
    }
    
    .icons a:last-child{
        padding: 0 0 0 10px;
    }

    @keyframes search-animation{
        0%{
            width: 0px;
        }
        100%{
            width: 100%;
        }
    }
}



@media all and (max-width: 425px){
    .navbar-wrapper{
        height: 70px;
    }
    .icons a{
        padding: 0 3px;
        font-size: 25px;
    }
    .icons a:last-child{
        padding: 0;
    }
    .search{
        padding-left: 0;
    }
    .img-logo{
        width: 100px;
        height: 40px;
    }
    .mobile-menu-icon{
        top: 18px;
        /* left: 20px; */
    }
    .nav-links{
        top: 7%;
    }

    .search{
        display: flex;
        justify-content: flex-end;
        width: 70%;
    }
    .search-input-active{
        width: 100%;
    }


    .input-search{
        width: 100%;
    }
}



@media all and (max-width: 320px){
    .search{
        right: 11px;
        top: 13px
    }
    .navbar-wrapper{
       padding: 0 10px;
    }

    .mobile-menu-icon{
        top: 18px;
        left: 10px;
    }

    .search-input-active{
        /* top: 13px; */
    }

    .search-icon{
        margin: 0 0 0 15px;
    }

}