.navbar-wrapper{
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    max-width: 1300px;
    height: 100px;
    margin: auto;
    flex-wrap: nowrap;
}

.logo-wrapper{
    width: 150px;
    height: 51px;
}
.img-logo{
    width: 150px;
    /* height: 51; */
}

.nav-links {
    display: flex;
    align-items: center;
    align-self: center;
    flex-grow: 1;
    margin: 0;
    padding: 0;
 }

 
 .nav-links-info a{
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 18px;
    margin: 0 15px;
 }
 
.nav-links{
    list-style: none;
}



.icons-wrapper{
    display: flex;
    justify-content: center;
   
}

.icons-wrapper a{
    display: flex;
    align-items: center;
    margin-right: 20px;
    font-size: 30px;
    color: black;
}

.icons-wrapper a:last-child{
    margin-right: 0;
}





















/* .navbar-toggler {
    border: none !important;
}

.navbar-toggler:focus {
    box-shadow: none !important;
}

.link-wrapper {
   display: flex;
   align-items: flex-start;
}

.link-wrapper a {
    text-decoration: none;
    color: black;
    font-weight: 500;
    padding: 8px 10px;
}

.link-wrapper a:hover {
    color: black;
}

.dropdown-menu{
    width: 200px;
}

.navbar-nav{
    display: flex;
    align-items: center;
}

.navbar-nav a{
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 18px;
    margin: 0 8px;
}

.navbar-nav a:hover {
    color: black;
}


.img-logo{
    width: 150px;
    height: 51px;
    margin-right: 20px;
}

.icon-box{
    display: flex;
    align-items: center;
}

.icon-box a{
    margin-right: 20px;
    display: flex;
    align-items: center;
    font-size: 30px;
    color: black;
}

@media all and (max-width: 991px) {
    .navbar-nav{
        display: flex;
        align-items: flex-start;
        padding: 20px 0;
    }

    .dropdown-menu{
        width: 200px;
        border: none;
    }
    
}

@media all and (max-width: 767px) {
    .navbar-nav{
        display: flex;
        align-items: flex-start;
        padding: 20px 0;
    }

    .navbar-nav a{   
        font-size: 20px;
        margin: 0;
    }
}
 */
